# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea
*.iml

common/target/classes/META-INF/
common/target/generated-sources/
manager/mq/src/test/
manager/mq/target/classes/META-INF/mq.kotlin_module
manager/mq/target/generated-sources/
open-platform/account-api/target/generated-sources/
open-platform/account-svc/src/test/
open-platform/account-svc/target/generated-sources/
